<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT aboutUS ANY>
<!ATTLIST aboutUS id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT siteMap ANY>
<!ATTLIST siteMap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1064" key="479e0442-eec0-4555-80df-e8aeef5abb26" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-12T11:09:31" updateDate="2016-03-22T14:33:12" nodeName="Home Page" urlName="home-page" path="-1,1064" isDoc="" nodeType="1052" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1050" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Developers in Aarhus]]></title>
    <logo>1127</logo>
    <siteTitle><![CDATA[Home]]></siteTitle>
    <mainContent><![CDATA[<p>Welcome to our little online corner! You'll meet lots of cool and creative people here who have lots of ideas and are willing to make them into real, usable products!</p>]]></mainContent>
    <footer><![CDATA[© 2016 Aarhus Web Developer Corporation]]></footer>
    <articlesMain id="1066" key="84eba757-b69d-47f0-9608-32d55cd561a6" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2016-02-18T19:46:49" updateDate="2016-03-23T18:51:10" nodeName="Articles" urlName="articles" path="-1,1064,1066" isDoc="" nodeType="1056" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1055" nodeTypeAlias="articlesMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Articles]]></title>
      <articlesBodyText><![CDATA[<p>Web development changes all the time and its a good idea to keep up! Our articles should help you get informed about what's new out there and what's worth checking out.</p>
<p>We hope you'll enjoy!</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Read about the latest web development trends]]></articlesTitle>
      <articleItem id="1069" key="f0cdeb8c-bcba-4707-b2d0-5fbfad27c211" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2016-02-18T19:52:18" updateDate="2016-03-23T18:50:34" nodeName="Get to know Bootstrap" urlName="get-to-know-bootstrap" path="-1,1064,1066,1069" isDoc="" nodeType="1058" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1057" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Get to know Bootstrap]]></title>
        <articleContent><![CDATA[<p>Since it was launched by Twitter in 2011, web building framework Bootstrap has become the most popular project on GitHub. Its creators Mark Otto and Jacob Thornton decided last September to move Bootstrap to its own open source organisation, and the project separated from Twitter.</p>
<p>Bootstrap benefits from a small footprint, LESS integration and compelling visual design. It has a web-based customiser that you can use to tailor it to your open source project: components and jQuery plug-ins can be added or removed by ticking checkboxes, and variables can be customised using a web form. There's a 12-column responsive grid, typography, form controls and it uses responsive CSS to work with mobile browsers.</p>
<p>Last month, Bootstrap creators launched <a href="http://expo.getbootstrap.com/" target="_blank" class="hawk-link-parsed">Expo</a>, a showcase of the most "beautiful and inspiring" projects built with the toolkit. There's more of the same over at <a href="http://lovebootstrap.com/" target="_blank" class="hawk-link-parsed">LoveBootstrap</a>.</p>]]></articleContent>
        <articleTitle><![CDATA[Get to know Bootstrap]]></articleTitle>
      </articleItem>
      <articleItem id="1070" key="542b39ee-8c82-461d-828f-d3a6a98bcece" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2016-02-18T19:53:17" updateDate="2016-03-23T18:50:44" nodeName="What is Grunt" urlName="what-is-grunt" path="-1,1064,1066,1070" isDoc="" nodeType="1058" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1057" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[What is Grunt]]></title>
        <articleContent><![CDATA[<p>Grunt allows you to automate common tasks using JavaScript. As creator Ben Alman explains: "With Grunt, you can perform mundane, repetitive tasks like minification, compilation, unit testing and linting with basically zero effort. And because Grunt is extensible, if someone hasn't already built what you need, you can easily author and publish your own Grunt plug-in."</p>
<p>Grunt is downloaded about 25,000 times per week, and with over 20 officially-maintained plug-ins and 600 community-published plugins, it's quickly becoming the de facto standard.</p>
<p>"Grunt has dramatically lowered the barrier to entry for web developers by providing a common interface for the tasks in their build process," adds Alman. "Using our extensive plug-in ecosystem and easy configuration format, it's now possible for anyone on your team to create a modern build process - designers included."</p>]]></articleContent>
        <articleTitle><![CDATA[What is Grunt]]></articleTitle>
      </articleItem>
      <articleItem id="1071" key="9fe6f873-2d94-45b2-b70a-9a0c2af52ea4" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2016-02-18T19:53:37" updateDate="2016-03-23T18:50:49" nodeName="What is AngularJS" urlName="what-is-angularjs" path="-1,1064,1066,1071" isDoc="" nodeType="1058" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1057" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[What is AngularJS]]></title>
        <articleContent><![CDATA[<p>AngularJS extends the vocabulary of HTML for declaring dynamic views in web apps. Again, Jack Franklin explains: "Angular takes a slightly different approach [to Backbone and Ember] by doing data binding directly in your HTML. It also uses just plain JavaScript for its controllers, meaning there's no need to extend other objects as you have to do in other frameworks.</p>
<p>"The data binding means data in views is automatically updated when the data changes, but also Angular makes it effortless to bind forms to models, meaning a lot of the code you typically write to link a form to creating a new instance of a model is not needed. Its data binding is bi-directional.</p>
<p>"By moving a lot of the binding directly into the HTML, Angular leaves you with much leaner controllers and less JavaScript to write. It might take a while to get your head around, but this approach is really powerful."</p>]]></articleContent>
        <articleTitle><![CDATA[What is AngularJS]]></articleTitle>
      </articleItem>
    </articlesMain>
    <projectsMain id="1067" key="f251e2d2-39ad-47ad-ad5b-4e0738e5f73d" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2016-02-18T19:48:24" updateDate="2016-02-26T11:27:40" nodeName="Projects" urlName="projects" path="-1,1064,1067" isDoc="" nodeType="1060" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1059" nodeTypeAlias="projectsMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>Some description of our projects</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[These are the projects we've been working on]]></projectsTitle>
      <projectItem id="1072" key="1311817d-9c1f-4e5a-ae12-e8af10f4679b" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2016-02-18T19:53:55" updateDate="2016-03-23T19:10:42" nodeName="Mini Website" urlName="mini-website" path="-1,1064,1067,1072" isDoc="" nodeType="1062" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Mini Website]]></title>
        <projectTitle><![CDATA[Mini Website]]></projectTitle>
        <projectStatus>6</projectStatus>
        <projectDescription><![CDATA[<p><span>This is a project for a mini website, the purpose of which is to drive traffic to our main website. The focus of the site will be on video conferencing and in particular LifeSize products. </span><br /><br /><span>The site must be interactive and engaging with visual aids, info boxes and images. It must also look very professional and finished to a high standard. The site must be editable in dreamweaver and suitable for Microsoft servers. </span><br /><br /><span>Some of the artwork (banners) you will have to create but we will provide you with most of the images, vids and copy for the pages but we need a designer to add his creative flair to the layout, theme and style of the site. We are open to suggestions on these points and would welcome a set of sample designs before proceeding. </span></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1073" key="c20dfc8d-4353-409a-8f03-aba4bfb5930a" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2016-02-18T19:54:10" updateDate="2016-03-23T19:13:24" nodeName="Stationery Management System" urlName="stationery-management-system" path="-1,1064,1067,1073" isDoc="" nodeType="1062" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Stationery Management System]]></title>
        <projectTitle><![CDATA[Stationery Management System]]></projectTitle>
        <projectStatus>7</projectStatus>
        <projectDescription><![CDATA[<p>This project is aimed at developing a tool for tracking the Stationery request for any Institution. Normally in any institution the request for the stationery is tracked via an e-mail or via excel sheets or registers and this leads to tremendous wastage of resources. </p>
<p>For example: - there may be scenarios where the quantity kept in the godown or store of the item may be more than needed and the supply of few items may be less than needed.</p>
<p>This system will thus help in reducing the wastage at the same time look into generating reports to give a high level view to the higher management for the benefit of the organization</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1074" key="7432cb1a-ae29-4e85-bf99-18aca89cd5e1" parentID="1067" level="3" creatorID="0" sortOrder="2" createDate="2016-02-18T19:54:25" updateDate="2016-03-23T19:13:15" nodeName="Budget Approval System" urlName="budget-approval-system" path="-1,1064,1067,1074" isDoc="" nodeType="1062" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Budget Approval System]]></title>
        <projectTitle><![CDATA[Budget Approval System]]></projectTitle>
        <projectStatus>8</projectStatus>
        <projectDescription><![CDATA[<p>This project is aimed at developing a system by which the employees in the organization submit the bills to their managers. The bills could of various types and also of various amounts.</p>
<p>The employee after submitting the bill will automatically provide the manager's name to which the bill will be submitted.</p>
<p>The bill will pass through a workflow process and the owner of the bill can view the status of the bill at any time. An email will be sent to the concerned people to let them know about the status of the bill</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1075" key="4ff26ef5-41b2-4831-9bf9-fdfe41cfe0a7" parentID="1067" level="3" creatorID="0" sortOrder="3" createDate="2016-02-18T19:54:39" updateDate="2016-03-23T19:14:18" nodeName="Chess Game" urlName="chess-game" path="-1,1064,1067,1075" isDoc="" nodeType="1062" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Chess Game]]></title>
        <projectTitle><![CDATA[Chess Game]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>Chess is a kind of game that can be entertaining and very challenging at the same time. However, the players need to be available and have time to participate.</p>
<p>This class provides a means to play chess games over the Internet. Whenever a player makes a move, the other player is notified by e-mail. </p>
<p>This way, the players do not have to be physically present in the same place to participate, nor have to be online at the same time, as they are notified by e-mail whenever it is their turn. So, the players have all the time to participate and can make their moves whenever they have time to access to the Internet.</p>
<p>This is a package of classes that lets two people play a chess game in a Web site</p>
<p>Once a player makes his move, the opponent is notified by e-mail to let him know that the other player made a move and now it is his turn.</p>
<p>The classes implement all chess rules and moves, like "castlings", "en passant" captures, stalemates in case the opponent has no longer a legal move and his king is not under attack.</p>
<p>In case you do not have the files for the images of the pieces, some of the most up to date browsers like Mozilla Firefox and Opera can present the pieces as text using Unicode characters for chess pieces.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1087" key="70009d5a-2bd1-4b7a-85b1-9a730e2e72c0" parentID="1067" level="3" creatorID="0" sortOrder="4" createDate="2016-03-03T20:05:47" updateDate="2016-03-23T19:15:23" nodeName="Survey" urlName="survey" path="-1,1064,1067,1087" isDoc="" nodeType="1062" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Survey]]></title>
        <projectTitle><![CDATA[Survey]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>QA Survey allows users to quickly create intuitive, powerful, online question-and-answer surveys that can work for tens to thousands of participants without much effort. The survey software itself is self-guiding for the respondents who are participating.</p>
<p>This manual is thus focused at how to install the application, administer the installation, and support the many survey creators, administrators and report generation users likely added.</p>
<p>QA SURVEY is an online survey application written in PHP based on a MySQL, PostgreSQL or MSSQL database. It enables users without coding knowledge to develop, publish and collect responses to surveys.</p>
<p>Surveys can include branching, custom preferred layout and design (using a web template system), and can provide basic statistical analysis of survey results. Surveys can be either publicly accessible or be strictly controlled through the use of "once-only" tokens for each survey participant.</p>
<p>Additionally results can be anonymous be separation of participants data and result data, even for controlled surveys. Numerous web hosting services offer QA SURVEY hosting, either as a custom installation or through a control panel, such as cPanel with Fantastico, Plesk and Virtualmin Professional.</p>
<p>QASurvey has also been ported by third parties to various content management systems, such as PostNuke, XOOPS . A port to Joomla exists, but it is not compatible with version 1.5 of Joomla</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1088" key="625e9879-fb5b-4648-8644-8a1910dadaff" parentID="1067" level="3" creatorID="0" sortOrder="5" createDate="2016-03-03T20:06:15" updateDate="2016-03-23T19:16:16" nodeName="Shopping Cart" urlName="shopping-cart" path="-1,1064,1067,1088" isDoc="" nodeType="1062" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Shopping Cart]]></title>
        <projectTitle><![CDATA[Shopping Cart]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>Cart is an extremely powerful shopping cart and web site builder application that allows you to customize, manage and effectively market your on-line store. Easy-to-use, the solution also includes tools to help you acquire new sales and effectively communicate with existing customers.</p>
<p>Completely customizable, robust reporting tools, newsletter and product update wizards, supports multiple wholesaler levels, product data feeds to multiple sites, multi-currency and language support, bulk product loader, flat URL generation, SEO support and more.</p>
<p>Accepts all major payment gateways including all PayPal methods, Google Payments and much more</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1089" key="71ad6318-2f9e-460c-8ffe-5d179861628e" parentID="1067" level="3" creatorID="0" sortOrder="6" createDate="2016-03-03T20:06:37" updateDate="2016-03-23T19:17:06" nodeName="Airline Reservation System" urlName="airline-reservation-system" path="-1,1064,1067,1089" isDoc="" nodeType="1062" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Airline Reservation System]]></title>
        <projectTitle><![CDATA[Airline Reservation System]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>An Airline Reservation System is part of the Passenger Service Systems ( PSS ), which are applications supporting the direct contact with the passenger. The Airline Reservations System (ARS) was one of the earliest changes to improve efficiency.</p>
<p>ARS eventually evolved into the Computer Reservations System (CRS).</p>
<p>A Computer Reservation System is used for the reservations of a particular airline and interfaces with a Global Distribution System (GDS) which supports travel agencies and other distribution channels in making reservations for most major airlines in a single system</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1090" key="a227290e-6d84-4ac5-ab4b-31bcb58400ac" parentID="1067" level="3" creatorID="0" sortOrder="7" createDate="2016-03-03T20:07:02" updateDate="2016-03-23T19:26:22" nodeName="Campaign Information System" urlName="campaign-information-system" path="-1,1064,1067,1090" isDoc="" nodeType="1062" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Campaign Information System]]></title>
        <projectTitle><![CDATA[Campaign Information System]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>An insurance company wants to start campaigns for its new products to be sold to the prospective customers. Campaign means advertising of the products through channels like Tele marketing, letters, signboards, TV Commercials, etc.</p>
<p>There are different campaigns for different products and there is a specific period for each campaign. Before the campaign starts, estimates are made on sales to be achieved, budget allocation for each campaign and variance allowed (%) both for sales and budget. When the actual data is captured, the actual variance(%) is calculated.</p>
<p>The difference between the actual and the estimated variance gives the insurance company an insight into their estimation and it helps in making strategic decisions about budgets</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1091" key="833e36cd-fa75-449f-8196-537c58a9e03f" parentID="1067" level="3" creatorID="0" sortOrder="8" createDate="2016-03-03T20:07:50" updateDate="2016-03-23T19:38:25" nodeName="Time Table Generation System" urlName="time-table-generation-system" path="-1,1064,1067,1091" isDoc="" nodeType="1062" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Time Table Generation System]]></title>
        <projectTitle><![CDATA[Time Table Generation System]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>This project is aimed at developing a Time Table Generator for Colleges. olleges are supposed to make time tables for each semester which used to be a very tedious and pain staking job.</p>
<p>Each teacher and Student is eligible for viewing his own timetable once they are finalized for a given semester but they can't edit them.22.</p>
<p>Development of a ser friendly ,feature-rich, practical Appraisal Tracker This project is aimed at enveloping an Appraisal Tracker that is of importance to either an organisation or a college.</p>
<p>This praisal Tracker system is used to track the performance of an individual. An individual's performance is rated by himself and his superior in the organization.</p>
<p>The tasks for the next 6 months are set by the superior. The performance rating is done based on several attributes (like the timeliness, quality of work, communication skills etc)</p>
<div></div>
<p> </p>]]></projectDescription>
      </projectItem>
    </projectsMain>
    <aboutUS id="1081" key="0c34cd6b-f5b2-472d-ac74-a41dd6966492" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2016-02-25T19:19:26" updateDate="2016-03-23T23:01:43" nodeName="About Us" urlName="about-us" path="-1,1064,1081" isDoc="" nodeType="1079" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1080" nodeTypeAlias="aboutUS">
      <umbracoNaviHide>0</umbracoNaviHide>
      <myLayout><![CDATA[{
  "name": "About Us",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Three Column and Image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "config": {},
              "styles": {
                "background-colour": "#68b39f"
              },
              "hasConfig": true,
              "controls": [
                {
                  "value": "About us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1126,
                    "image": "/media/1004/20141230193127-work.jpeg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "VISION",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                },
                {
                  "value": "<p>Our vision is to create cool stuff for the best price. We are creative, innovative and fast - pretty much the best on the market!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "PEOPLE",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>We are a team of developers and designers and we work together in groups on each project to bring you the best possible result in the time frame you give us!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "SKILLS",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<ul>\n<li>Umbraco</li>\n<li>Wordpress</li>\n<li>Drupal</li>\n<li>Prestashop</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "73216857-6d73-3bb5-a3e2-9924fb5c1072",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></myLayout>
    </aboutUS>
    <siteMap id="1086" key="ee57c6ce-234a-4d46-a0d4-943f6906bfca" parentID="1064" level="2" creatorID="0" sortOrder="4" createDate="2016-03-03T19:46:04" updateDate="2016-03-03T19:46:04" nodeName="Site Map" urlName="site-map" path="-1,1064,1086" isDoc="" nodeType="1085" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1084" nodeTypeAlias="siteMap">
      <umbracoNaviHide>0</umbracoNaviHide>
      <siteMapMacro><![CDATA[<?UMBRACO_MACRO macroAlias="siteMap" />]]></siteMapMacro>
    </siteMap>
    <contactPage id="1094" key="eca77d6a-37e5-464f-b75e-6f0b5375a6e9" parentID="1064" level="2" creatorID="0" sortOrder="5" createDate="2016-03-03T22:44:25" updateDate="2016-03-03T22:46:00" nodeName="Contact Us" urlName="contact-us" path="-1,1064,1094" isDoc="" nodeType="1093" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1092" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <textPage id="1114" key="d6c30d26-836d-49b6-a5cd-889eef5d9757" parentID="1064" level="2" creatorID="0" sortOrder="6" createDate="2016-03-10T19:04:51" updateDate="2016-03-10T19:04:51" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1064,1114" isDoc="" nodeType="1054" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1053" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <mainContent><![CDATA[<p>Sorry, you don't have access to this content.</p>]]></mainContent>
      <header><![CDATA[Forbidden Access]]></header>
    </textPage>
    <login id="1115" key="4b0c4866-0907-49d8-9b65-1b3abdfafd7e" parentID="1064" level="2" creatorID="0" sortOrder="7" createDate="2016-03-10T19:28:33" updateDate="2016-03-10T19:28:33" nodeName="Login" urlName="login" path="-1,1064,1115" isDoc="" nodeType="1113" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1112" nodeTypeAlias="login" />
    <members id="1129" key="e003bbde-f0d8-43a2-81a5-d978cbf2f200" parentID="1064" level="2" creatorID="0" sortOrder="8" createDate="2016-03-23T20:00:50" updateDate="2016-03-23T20:00:50" nodeName="Members" urlName="members" path="-1,1064,1129" isDoc="" nodeType="1128" creatorName="Karina Timea" writerName="Karina Timea" writerID="0" template="1119" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Members]]></title>
    </members>
  </homePage>
</root>