<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT aboutUS ANY>
<!ATTLIST aboutUS id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT siteMap ANY>
<!ATTLIST siteMap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1064" key="479e0442-eec0-4555-80df-e8aeef5abb26" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-12T11:09:31" updateDate="2016-02-12T11:29:18" nodeName="Home Page" urlName="home-page" path="-1,1064" isDoc="" nodeType="1052" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1050" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Home]]></siteTitle>
    <mainContent><![CDATA[<p>This is some content</p>]]></mainContent>
    <footer><![CDATA[this is the footer]]></footer>
    <articlesMain id="1066" key="84eba757-b69d-47f0-9608-32d55cd561a6" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2016-02-18T19:46:49" updateDate="2016-02-18T19:47:37" nodeName="Articles" urlName="articles" path="-1,1064,1066" isDoc="" nodeType="1056" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1055" nodeTypeAlias="articlesMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<p>Here is some description of the articles</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[This page will show all articles]]></articlesTitle>
      <articleItem id="1069" key="f0cdeb8c-bcba-4707-b2d0-5fbfad27c211" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2016-02-18T19:52:18" updateDate="2016-02-24T17:58:21" nodeName="Article 1" urlName="article-1" path="-1,1064,1066,1069" isDoc="" nodeType="1058" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1057" nodeTypeAlias="articleItem">
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet feugiat dolor, id pharetra nisl. Etiam nec volutpat sapien. Fusce quis nibh euismod elit suscipit ultrices. Phasellus ut interdum purus. Ut lobortis sagittis elementum. Donec non quam elementum, mollis tortor quis, sodales augue. Etiam tristique pharetra vehicula. Suspendisse maximus feugiat lobortis. Mauris ornare, ex tristique posuere suscipit, nibh velit rutrum elit, ultricies imperdiet tortor dui et diam. Vestibulum eu lectus consequat, lobortis lorem at, aliquet urna.</p>
<p>Fusce sollicitudin quam quis accumsan tristique. Maecenas nec lorem vel sem faucibus dictum sit amet finibus orci. Curabitur ut dictum purus. Mauris a aliquet lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut non erat nunc. Fusce vel consequat dui, et feugiat justo. Praesent velit sapien, fermentum a rutrum quis, ornare at ante. Duis neque neque, fringilla nec erat id, tincidunt iaculis dui.</p>
<p>Cras nec neque congue, maximus nulla ac, dignissim turpis. Curabitur venenatis nec arcu et sagittis. Duis sed faucibus massa, eu tincidunt enim. Nullam at neque vel urna semper efficitur ut non elit. In fringilla, ante eu aliquam elementum, elit dui condimentum dolor, nec rutrum elit ligula ac lectus. Aliquam a lacus massa. In et sapien id velit ultrices tempor. Etiam ex ligula, gravida a sem in, sagittis consectetur mauris. Nulla nec vehicula ipsum, eget sagittis neque.</p>]]></articleContent>
        <articleTitle><![CDATA[Article 1]]></articleTitle>
      </articleItem>
      <articleItem id="1070" key="542b39ee-8c82-461d-828f-d3a6a98bcece" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2016-02-18T19:53:17" updateDate="2016-02-24T17:58:25" nodeName="Article 2" urlName="article-2" path="-1,1064,1066,1070" isDoc="" nodeType="1058" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1057" nodeTypeAlias="articleItem">
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet feugiat dolor, id pharetra nisl. Etiam nec volutpat sapien. Fusce quis nibh euismod elit suscipit ultrices. Phasellus ut interdum purus. Ut lobortis sagittis elementum. Donec non quam elementum, mollis tortor quis, sodales augue. Etiam tristique pharetra vehicula. Suspendisse maximus feugiat lobortis. Mauris ornare, ex tristique posuere suscipit, nibh velit rutrum elit, ultricies imperdiet tortor dui et diam. Vestibulum eu lectus consequat, lobortis lorem at, aliquet urna.</p>
<p>Fusce sollicitudin quam quis accumsan tristique. Maecenas nec lorem vel sem faucibus dictum sit amet finibus orci. Curabitur ut dictum purus. Mauris a aliquet lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut non erat nunc. Fusce vel consequat dui, et feugiat justo. Praesent velit sapien, fermentum a rutrum quis, ornare at ante. Duis neque neque, fringilla nec erat id, tincidunt iaculis dui.</p>
<p>Cras nec neque congue, maximus nulla ac, dignissim turpis. Curabitur venenatis nec arcu et sagittis. Duis sed faucibus massa, eu tincidunt enim. Nullam at neque vel urna semper efficitur ut non elit. In fringilla, ante eu aliquam elementum, elit dui condimentum dolor, nec rutrum elit ligula ac lectus. Aliquam a lacus massa. In et sapien id velit ultrices tempor. Etiam ex ligula, gravida a sem in, sagittis consectetur mauris. Nulla nec vehicula ipsum, eget sagittis neque.</p>]]></articleContent>
        <articleTitle><![CDATA[Article 2]]></articleTitle>
      </articleItem>
      <articleItem id="1071" key="9fe6f873-2d94-45b2-b70a-9a0c2af52ea4" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2016-02-18T19:53:37" updateDate="2016-02-24T17:58:47" nodeName="Article 3" urlName="article-3" path="-1,1064,1066,1071" isDoc="" nodeType="1058" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1057" nodeTypeAlias="articleItem">
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet feugiat dolor, id pharetra nisl. Etiam nec volutpat sapien. Fusce quis nibh euismod elit suscipit ultrices. Phasellus ut interdum purus. Ut lobortis sagittis elementum. Donec non quam elementum, mollis tortor quis, sodales augue. Etiam tristique pharetra vehicula. Suspendisse maximus feugiat lobortis. Mauris ornare, ex tristique posuere suscipit, nibh velit rutrum elit, ultricies imperdiet tortor dui et diam. Vestibulum eu lectus consequat, lobortis lorem at, aliquet urna.</p>
<p>Fusce sollicitudin quam quis accumsan tristique. Maecenas nec lorem vel sem faucibus dictum sit amet finibus orci. Curabitur ut dictum purus. Mauris a aliquet lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut non erat nunc. Fusce vel consequat dui, et feugiat justo. Praesent velit sapien, fermentum a rutrum quis, ornare at ante. Duis neque neque, fringilla nec erat id, tincidunt iaculis dui.</p>
<p>Cras nec neque congue, maximus nulla ac, dignissim turpis. Curabitur venenatis nec arcu et sagittis. Duis sed faucibus massa, eu tincidunt enim. Nullam at neque vel urna semper efficitur ut non elit. In fringilla, ante eu aliquam elementum, elit dui condimentum dolor, nec rutrum elit ligula ac lectus. Aliquam a lacus massa. In et sapien id velit ultrices tempor. Etiam ex ligula, gravida a sem in, sagittis consectetur mauris. Nulla nec vehicula ipsum, eget sagittis neque.</p>]]></articleContent>
        <articleTitle><![CDATA[Article 3]]></articleTitle>
      </articleItem>
    </articlesMain>
    <projectsMain id="1067" key="f251e2d2-39ad-47ad-ad5b-4e0738e5f73d" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2016-02-18T19:48:24" updateDate="2016-02-26T11:27:40" nodeName="Projects" urlName="projects" path="-1,1064,1067" isDoc="" nodeType="1060" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1059" nodeTypeAlias="projectsMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>Some description of our projects</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[These are the projects we've been working on]]></projectsTitle>
      <projectItem id="1072" key="1311817d-9c1f-4e5a-ae12-e8af10f4679b" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2016-02-18T19:53:55" updateDate="2016-02-18T19:53:55" nodeName="Project 1" urlName="project-1" path="-1,1064,1067,1072" isDoc="" nodeType="1062" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 1]]></projectTitle>
        <projectStatus>6</projectStatus>
        <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet feugiat dolor, id pharetra nisl. Etiam nec volutpat sapien. Fusce quis nibh euismod elit suscipit ultrices. Phasellus ut interdum purus. Ut lobortis sagittis elementum. Donec non quam elementum, mollis tortor quis, sodales augue. Etiam tristique pharetra vehicula. Suspendisse maximus feugiat lobortis. Mauris ornare, ex tristique posuere suscipit, nibh velit rutrum elit, ultricies imperdiet tortor dui et diam. Vestibulum eu lectus consequat, lobortis lorem at, aliquet urna.</p>
<p>Fusce sollicitudin quam quis accumsan tristique. Maecenas nec lorem vel sem faucibus dictum sit amet finibus orci. Curabitur ut dictum purus. Mauris a aliquet lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut non erat nunc. Fusce vel consequat dui, et feugiat justo. Praesent velit sapien, fermentum a rutrum quis, ornare at ante. Duis neque neque, fringilla nec erat id, tincidunt iaculis dui.</p>
<p>Cras nec neque congue, maximus nulla ac, dignissim turpis. Curabitur venenatis nec arcu et sagittis. Duis sed faucibus massa, eu tincidunt enim. Nullam at neque vel urna semper efficitur ut non elit. In fringilla, ante eu aliquam elementum, elit dui condimentum dolor, nec rutrum elit ligula ac lectus. Aliquam a lacus massa. In et sapien id velit ultrices tempor. Etiam ex ligula, gravida a sem in, sagittis consectetur mauris. Nulla nec vehicula ipsum, eget sagittis neque.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1073" key="c20dfc8d-4353-409a-8f03-aba4bfb5930a" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2016-02-18T19:54:10" updateDate="2016-02-18T19:54:10" nodeName="Project 2" urlName="project-2" path="-1,1064,1067,1073" isDoc="" nodeType="1062" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 2]]></projectTitle>
        <projectStatus>7</projectStatus>
        <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet feugiat dolor, id pharetra nisl. Etiam nec volutpat sapien. Fusce quis nibh euismod elit suscipit ultrices. Phasellus ut interdum purus. Ut lobortis sagittis elementum. Donec non quam elementum, mollis tortor quis, sodales augue. Etiam tristique pharetra vehicula. Suspendisse maximus feugiat lobortis. Mauris ornare, ex tristique posuere suscipit, nibh velit rutrum elit, ultricies imperdiet tortor dui et diam. Vestibulum eu lectus consequat, lobortis lorem at, aliquet urna.</p>
<p>Fusce sollicitudin quam quis accumsan tristique. Maecenas nec lorem vel sem faucibus dictum sit amet finibus orci. Curabitur ut dictum purus. Mauris a aliquet lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut non erat nunc. Fusce vel consequat dui, et feugiat justo. Praesent velit sapien, fermentum a rutrum quis, ornare at ante. Duis neque neque, fringilla nec erat id, tincidunt iaculis dui.</p>
<p>Cras nec neque congue, maximus nulla ac, dignissim turpis. Curabitur venenatis nec arcu et sagittis. Duis sed faucibus massa, eu tincidunt enim. Nullam at neque vel urna semper efficitur ut non elit. In fringilla, ante eu aliquam elementum, elit dui condimentum dolor, nec rutrum elit ligula ac lectus. Aliquam a lacus massa. In et sapien id velit ultrices tempor. Etiam ex ligula, gravida a sem in, sagittis consectetur mauris. Nulla nec vehicula ipsum, eget sagittis neque.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1074" key="7432cb1a-ae29-4e85-bf99-18aca89cd5e1" parentID="1067" level="3" creatorID="0" sortOrder="2" createDate="2016-02-18T19:54:25" updateDate="2016-02-18T19:54:25" nodeName="Project 3" urlName="project-3" path="-1,1064,1067,1074" isDoc="" nodeType="1062" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 3]]></projectTitle>
        <projectStatus>8</projectStatus>
        <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet feugiat dolor, id pharetra nisl. Etiam nec volutpat sapien. Fusce quis nibh euismod elit suscipit ultrices. Phasellus ut interdum purus. Ut lobortis sagittis elementum. Donec non quam elementum, mollis tortor quis, sodales augue. Etiam tristique pharetra vehicula. Suspendisse maximus feugiat lobortis. Mauris ornare, ex tristique posuere suscipit, nibh velit rutrum elit, ultricies imperdiet tortor dui et diam. Vestibulum eu lectus consequat, lobortis lorem at, aliquet urna.</p>
<p>Fusce sollicitudin quam quis accumsan tristique. Maecenas nec lorem vel sem faucibus dictum sit amet finibus orci. Curabitur ut dictum purus. Mauris a aliquet lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut non erat nunc. Fusce vel consequat dui, et feugiat justo. Praesent velit sapien, fermentum a rutrum quis, ornare at ante. Duis neque neque, fringilla nec erat id, tincidunt iaculis dui.</p>
<p>Cras nec neque congue, maximus nulla ac, dignissim turpis. Curabitur venenatis nec arcu et sagittis. Duis sed faucibus massa, eu tincidunt enim. Nullam at neque vel urna semper efficitur ut non elit. In fringilla, ante eu aliquam elementum, elit dui condimentum dolor, nec rutrum elit ligula ac lectus. Aliquam a lacus massa. In et sapien id velit ultrices tempor. Etiam ex ligula, gravida a sem in, sagittis consectetur mauris. Nulla nec vehicula ipsum, eget sagittis neque.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1075" key="4ff26ef5-41b2-4831-9bf9-fdfe41cfe0a7" parentID="1067" level="3" creatorID="0" sortOrder="3" createDate="2016-02-18T19:54:39" updateDate="2016-02-18T19:54:44" nodeName="Project 4" urlName="project-4" path="-1,1064,1067,1075" isDoc="" nodeType="1062" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 4]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet feugiat dolor, id pharetra nisl. Etiam nec volutpat sapien. Fusce quis nibh euismod elit suscipit ultrices. Phasellus ut interdum purus. Ut lobortis sagittis elementum. Donec non quam elementum, mollis tortor quis, sodales augue. Etiam tristique pharetra vehicula. Suspendisse maximus feugiat lobortis. Mauris ornare, ex tristique posuere suscipit, nibh velit rutrum elit, ultricies imperdiet tortor dui et diam. Vestibulum eu lectus consequat, lobortis lorem at, aliquet urna.</p>
<p>Fusce sollicitudin quam quis accumsan tristique. Maecenas nec lorem vel sem faucibus dictum sit amet finibus orci. Curabitur ut dictum purus. Mauris a aliquet lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut non erat nunc. Fusce vel consequat dui, et feugiat justo. Praesent velit sapien, fermentum a rutrum quis, ornare at ante. Duis neque neque, fringilla nec erat id, tincidunt iaculis dui.</p>
<p>Cras nec neque congue, maximus nulla ac, dignissim turpis. Curabitur venenatis nec arcu et sagittis. Duis sed faucibus massa, eu tincidunt enim. Nullam at neque vel urna semper efficitur ut non elit. In fringilla, ante eu aliquam elementum, elit dui condimentum dolor, nec rutrum elit ligula ac lectus. Aliquam a lacus massa. In et sapien id velit ultrices tempor. Etiam ex ligula, gravida a sem in, sagittis consectetur mauris. Nulla nec vehicula ipsum, eget sagittis neque.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1087" key="70009d5a-2bd1-4b7a-85b1-9a730e2e72c0" parentID="1067" level="3" creatorID="0" sortOrder="4" createDate="2016-03-03T20:05:47" updateDate="2016-03-03T20:05:47" nodeName="Project 5" urlName="project-5" path="-1,1064,1067,1087" isDoc="" nodeType="1062" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 5]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>This is so awesome</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1088" key="625e9879-fb5b-4648-8644-8a1910dadaff" parentID="1067" level="3" creatorID="0" sortOrder="5" createDate="2016-03-03T20:06:15" updateDate="2016-03-03T20:06:15" nodeName="Project 6" urlName="project-6" path="-1,1064,1067,1088" isDoc="" nodeType="1062" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 6]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>This is even more awesome</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1089" key="71ad6318-2f9e-460c-8ffe-5d179861628e" parentID="1067" level="3" creatorID="0" sortOrder="6" createDate="2016-03-03T20:06:37" updateDate="2016-03-03T20:06:37" nodeName="Project 7" urlName="project-7" path="-1,1064,1067,1089" isDoc="" nodeType="1062" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 8]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>This is quite awesome too</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1090" key="a227290e-6d84-4ac5-ab4b-31bcb58400ac" parentID="1067" level="3" creatorID="0" sortOrder="7" createDate="2016-03-03T20:07:02" updateDate="2016-03-03T20:07:02" nodeName="Project 8" urlName="project-8" path="-1,1064,1067,1090" isDoc="" nodeType="1062" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 8]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>This is probably the best</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1091" key="833e36cd-fa75-449f-8196-537c58a9e03f" parentID="1067" level="3" creatorID="0" sortOrder="8" createDate="2016-03-03T20:07:50" updateDate="2016-03-03T20:07:50" nodeName="Project 9" urlName="project-9" path="-1,1064,1067,1091" isDoc="" nodeType="1062" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1061" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 9]]></projectTitle>
        <projectStatus>9</projectStatus>
        <projectDescription><![CDATA[<p>This is the best actually</p>]]></projectDescription>
      </projectItem>
    </projectsMain>
    <textPage id="1068" key="54a3a4db-d950-4343-866c-b7e11858e558" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2016-02-18T19:51:41" updateDate="2016-02-18T19:51:41" nodeName="Text Page" urlName="text-page" path="-1,1064,1068" isDoc="" nodeType="1054" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1053" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <mainContent><![CDATA[<p>Some content</p>]]></mainContent>
      <header><![CDATA[This will be a text page]]></header>
    </textPage>
    <aboutUS id="1081" key="0c34cd6b-f5b2-472d-ac74-a41dd6966492" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2016-02-25T19:19:26" updateDate="2016-02-25T20:41:52" nodeName="About Us" urlName="about-us" path="-1,1064,1081" isDoc="" nodeType="1079" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1080" nodeTypeAlias="aboutUS">
      <umbracoNaviHide>0</umbracoNaviHide>
      <myLayout><![CDATA[{
  "name": "About Us",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Three Column and Image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "config": {},
              "styles": {
                "background-colour": "#68b39f"
              },
              "hasConfig": true,
              "controls": [
                {
                  "value": "About us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ],
              "active": true
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.562753036437247,
                      "top": 0.52877697841726623
                    },
                    "id": 1082,
                    "image": "/media/1001/full-hd-cat-profile-amazing-wallpaper-cute-cat.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius, mauris in tempus lacinia, lectus urna vestibulum mauris, dignissim commodo ipsum nisl at lectus. Pellentesque tellus tortor, porta a varius quis, condimentum in ex. Etiam pellentesque lacus lacus. Suspendisse eget aliquam sem. Donec venenatis tortor diam, quis eleifend nulla eleifend id. Nunc erat mauris, bibendum nec malesuada et, mollis vel odio. Nunc tellus nunc, dignissim eget lorem a, condimentum sagittis erat. Quisque posuere condimentum urna, id tempus nibh pretium sit amet. Proin at gravida ante.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius, mauris in tempus lacinia, lectus urna vestibulum mauris, dignissim commodo ipsum nisl at lectus.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius, mauris in tempus lacinia, lectus urna vestibulum mauris, dignissim commodo ipsum nisl at lectus. Pellentesque tellus tortor, porta a varius quis, condimentum in ex. Etiam pellentesque lacus lacus. Suspendisse eget aliquam sem. Donec venenatis tortor diam, quis eleifend nulla eleifend id. Nunc erat mauris, bibendum nec malesuada et, mollis vel odio. Nunc tellus nunc, dignissim eget lorem a, condimentum sagittis erat. Quisque posuere condimentum urna, id tempus nibh pretium sit amet. Proin at gravida ante.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "73216857-6d73-3bb5-a3e2-9924fb5c1072",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></myLayout>
    </aboutUS>
    <siteMap id="1086" key="ee57c6ce-234a-4d46-a0d4-943f6906bfca" parentID="1064" level="2" creatorID="0" sortOrder="4" createDate="2016-03-03T19:46:04" updateDate="2016-03-03T19:46:04" nodeName="Site Map" urlName="site-map" path="-1,1064,1086" isDoc="" nodeType="1085" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1084" nodeTypeAlias="siteMap">
      <umbracoNaviHide>0</umbracoNaviHide>
      <siteMapMacro><![CDATA[<?UMBRACO_MACRO macroAlias="siteMap" />]]></siteMapMacro>
    </siteMap>
    <contactPage id="1094" key="eca77d6a-37e5-464f-b75e-6f0b5375a6e9" parentID="1064" level="2" creatorID="0" sortOrder="5" createDate="2016-03-03T22:44:25" updateDate="2016-03-03T22:46:00" nodeName="Contact Us" urlName="contact-us" path="-1,1064,1094" isDoc="" nodeType="1093" creatorName="Karina Timea Szőcs" writerName="Karina Timea Szőcs" writerID="0" template="1092" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
  </homePage>
</root>